@import '../../node_modules/normalize.css/normalize';
@import 'bourbon';
$grid-columns: 12;
$max-width: em(1088);
$visual-grid: true;
@import 'neat';

body {
  @include outer-container;
  background-color: purple;
  @media (min-width: 600px) {
    background-color: rgba(0,160,190,1);
  }
}

.page-content {
  // @include pad(20px);
  @include span-columns(12);
  background-color: limegreen;
  // @include shift(0);
}




// // ---
// // # Only the main Sass file needs front matter (the dashes are enough)
// // ---
// @charset "utf-8";
//
//
//
// // Our variables
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;
//
// $spacing-unit:     30px;
//
// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;
//
// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);
//
// // Width of the content area
// $content-width:    800px;
//
// $on-palm:          600px;
// $on-laptop:        800px;
//
//
//
// // Using media queries with like this:
// // @include media-query($on-palm) {
// //     .wrapper {
// //         padding-right: $spacing-unit / 2;
// //         padding-left: $spacing-unit / 2;
// //     }
// // }
// @mixin media-query($device) {
//     @media screen and (max-width: $device) {
//         @content;
//     }
// }
//
//
//
// // Import partials from `sass_dir` (defaults to `_sass`)
// @import
//         "base",
//         "layout",
//         "syntax-highlighting"
// ;
//
// body {
//   // background-color: red;
// }
